* {
  box-sizing: inherit;
  margin: 0 auto;
  padding: 0;
  font-family: 'Signika', sans-serif;
  color: #000;
}
body {
  background-color: #cccccccd;
}
:root {
  --background-primary: #fdf8f8;
  --main-color: #039201;
  --blackLight: #303337;
  --blackDark: #212121;
  --mattGray: #878d8d;
}
.navbar {
  display: flex;
  background-color: var(--blackLight); /* Màu nền của navbar */
  color: #fff; /* Màu chữ trắng */
  display: flex;
  justify-content: space-between; /* Canh giữa các phần tử theo chiều ngang */
  align-items: center; /* Canh giữa các phần tử theo chiều dọc */
  padding: 10px 0;
  width: 100%;
}

.navbar-title {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.navbar-title p {
  margin-left: 100px;
  color: white;
  font-weight: 800;
}
.navbar-title p {
  margin-left: 100px;
  color: white;
  font-weight: 800;
}
.admin-logo {
  margin: -5px 0 0 10px;
}
.exit-logo {
  margin-left: 1000px;
}
.btn-exit {
  background-color: white;
}
.exit {
  background-color: #878d8d;
  margin-right: 12px;
}

.menu-left {
  height: 100%;
  width: 20%;
  position: fixed;
  top: 0;
  background-color: var(--mattGray);
  padding-top: 20px;
  color: #fff;
  overflow-y: auto;
  transition: all ease 0.3s;
}

.list-menu {
  text-align: center;
  list-style-type: none;
}
.list-menu-item {
  padding: 24px;
  display: flex;
  align-items: center;
  transition: transform 0.4s ease;
}
.list-menu-item h2 {
  font-size: 30px;
  text-align: center;
}
.list-menu-item:hover {
  transform: scale(1.1);
  background-color: #ccc;
}
.list-menu-item .text {
  font-size: 16px;
  font-weight: 600;
  margin-left: 16px;
}

.list-menu-item:first-child {
  margin-top: 16px;
}
.list-menu-item svg {
  width: 30px;
  height: 30px;
}
.list-menu-item.hide-text .text {
  display: none;
}
/* CONTENT */
/* SAN PHAM */
.content {
  margin-left: 80px;
  display: flex;
  justify-content: center;
}
.product {
  width: 80%;
  margin: 32px;
}
.header-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.header-product .title {
  display: flex;
  justify-content: center;
  text-decoration: none;
  text-align: center;
}
.title {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
}
.btn-add {
  padding: 8px 16px;
  background-color: #4caf50;
  margin-left: 140px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px green;
  opacity: 1;
}
.btn-add:hover {
  opacity: 0.8;
}
.title {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
}
.btn-add {
  padding: 8px 16px;
  background-color: #4caf50;
  margin-left: 140px;
}
.btn-add a {
  color: white;
  text-decoration: none;
}
table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.853);
}
th,
td {
  text-align: left;
  padding: 8px;
  border-collapse: collapse;
}
th,
td {
  text-align: left;
  padding: 8px;
}
th {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #f2f2f2;
}
.btn-edit,
.btn-delete {
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 1;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #ddd;
}
.btn-edit,
.btn-delete {
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}
.btn-delete {
  background-color: #f44336;
}
.btn-edit {
  margin-right: 16px;
}
.btn-edit:hover {
  opacity: 0.8;
}
.btn-delete:hover {
  opacity: 0.8;
}

/* end product  */
/* pagination */
.listPage {
  padding: 20px;
  text-align: center;
  list-style: none;
}
.listPage li {
  display: inline-block;
  background-color: #ffffffbd;
  padding: 10px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 600;
}
.listPage li:hover {
  opacity: 0.6;
}
.listPage .active {
  background-color: #b192ef;
  color: #fff;
}

/* thong ke */

.container-thongke {
  display: flex;
  gap: 25px;
  margin: 50px 80px;
  flex: 1;
}
.left-content {
  height: fit-content;
  flex: 2;
  border: 1px solid black;
  border-radius: 8px;
}
.form-thongke {
  padding: 15px 8px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.text-form {
  text-align: center;
}
.form-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-item label {
  margin-bottom: 5px;
}
#nhom {
  padding: 4px;
  border-radius: 5px;
  width: fit-content;
}
.form-button {
  padding: 5px;
  width: 200px;
  align-self: center;
  border-radius: 5px;
  background-color: #039201;
}
.right-content {
  flex: 8;
}
.form-item .item {
  display: flex;
  gap: 5px;
}
#pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  margin-top: 15px;
  gap: 8px;
}
#pagination button {
  padding: 5px 10px;
  margin: 0 8px 0 0;
  border-radius: 5px;
}
.item input {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}
#nhom {
  border: 1px solid black;
}
.item {
  align-items: center;
}
.form-select {
  display: flex;
  gap: 5px;
  align-items: center;
}
