* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  /* text-transform: capitalize;
    transition: all .2s linear; */
}
:root {
  --box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  /* scroll-behavior: smooth; */
}
.row {
  display: flex;
}


.category-container {
  width: 20%; /* Không chiếm không gian, sẽ bị ẩn khi display: none; */
}

.box-container {
  width: 100%; /* Chiếm hết không gian còn lại */
}


.btn {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  color: #ffff;
  background-color: #192a56;
  border-radius: 5rem;
  padding: 0.6rem 2.5rem;
  cursor: pointer;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 1rem 7%;
  background: #fff;
  box-shadow: var(--box-shadow);
}
.register {
  margin-right: 10px;
}
.login-register {
  display: flex;
  justify-content: end;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
}
header .navbar a {
  font-size: 1.7rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: #666;
}
header .navbar a.active,
header .navbar a:hover {
  color: #fff;
  background-color: #27ae60;
}

header .icons span,
header .icons a {
  cursor: pointer;
  margin-left: 0.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  text-align: center;
  font-size: 1.7rem;
}
.container {
  max-width: 100%;
  width: 1200px;
  margin: 0 auto;
}
.quantity_cart {
  position: absolute;
  top: 32px;
  right: 147px;
  background-color: #cb4141;
  color: #fff;
  font-size: 10px;
  padding: 7px 7px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0px;
}
#search-form {
  position: fixed;
  top: -110%;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1004;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}
#search-form #search-box {
  width: 50rem;
  border-bottom: 0.1rem solid #fff;
  padding: 1rem 0;
  color: #fff;
  font-size: 3rem;
  text-transform: none;
  background: none;
}
.icons-search #search-box::placeholder {
  color: #eee;
}
.icons-search #search-box::-webkit-search-cancel-button {
  --webkit-appearance: none;
}
#search-form label {
  cursor: pointer;
}
#search-form #close {
  position: absolute;
  cursor: pointer;
  top: 2rem;
  right: 3rem;
  font-size: 5rem;
}

#search-form.active {
  top: 0;
}
/* product starts*/

.content{
    padding: 0rem 9%;

}
.content {
  padding: 2rem 9%;


}

.content {
  padding: 2rem 9%;

}

.heading {
  margin-bottom: 4rem;
  text-align: center;
  font-size: 2rem;
  color: black;
  text-transform: uppercase;
}
.heading a {
  position: relative;
  color: #333;
}
.heading a::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -110px;
  width: 80px;
  height: 2px;
  background: #333;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

.title-search{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
.heading a::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -110px;
    width: 80px;
    height: 2px;
    background: #333;
    -webkit-transform: translate(0%,-50%);
    transform: translate(0%,-50%);
}
.heading a::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -110px;
  width: 80px;
  height: 2px;
  background: #333;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);



}
.category-container {
    width: 25%; /* Không chiếm không gian, sẽ bị ẩn khi display: none; */
}

.box-container {
    width: 100%; /* Chiếm hết không gian còn lại */
    margin-top: 30px;
}

.content .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 1.5rem;
}
.content .box-container .product {
  padding: 0.5rem;
  background-color: #ffff;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: #666;
  position: relative;

  text-align: center; 
}


@media (max-width: 28rem) {
    .content .box-container {
        grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    }
}
.content .box-container .product h3{
    color: black;
    font-size: 2rem;
    margin-top: 2rem;
    
}
.content .box-container .product span{
    color:#fe0000;;
    font-weight: bolder;
    margin-right: 1rem;
    font-size: 16px;
    margin-top: 10px;
}
.content .box-container .product h3 {
  color: black;
  font-size: 2rem;
  margin-top: 2rem;
}
.content .box-container .product span {
  color: green;
  font-weight: bolder;
  margin-right: 1rem;
  font-size: 2.5rem;

}
.eye,
.heart {
  position: absolute;
  top: 1.5rem;
  background-color: #eee;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: #192a56;
  display: none;
}
.heart {
  right: 1.5rem;
}
.eye {
  left: 1.5rem;
}
.product:hover .eye,
.product:hover .heart {
  display: block;
}

.btn-buy {
    border: 1px solid #27ae60;
    background-color: #fff;
    color: var(--theme-color);
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
}

.image-product{
   
    height: 240px; 
  
    overflow: hidden; 
}
.image-product img {
    width: 100%; 
    height: 100%;
    object-fit: contain; 
}

.heading-name{
    color: black;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;



  background-color: #fff;
  color: var(--theme-color);
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.image-product {
height: 200px;

  overflow: hidden;
}
.image-product img {
  width: 100%; /* Đảm bảo ảnh chiếm toàn bộ không gian của thẻ div */
  height: 100%;
  object-fit: cover; /* Hiển thị ảnh mà không làm biến đổi tỷ lệ khung hình */

}
/* product ends*/

.cart {
  position: relative;
}
.icon {
}

/* cart */
.card-product {
  display: none;
  position: absolute;
  right: 0;
  width: 300px;
  top: 49px;
  background-color: #fff;
  border-radius: 4px;
  z-index: 10;
  border: 1px solid;
}

.card-product::after {
  position: absolute;
  content: '';
  width: 15%;
  height: 14px;
  top: -14px;
  right: 0;
  display: block;
  /* background-color: #cb4141; */
}
.cart-product-body {
  max-height: 400px;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.img-product {
  width: 100px;
}
.cart-pr {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart:hover .card-product {
  display: block;
}
.total-price {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
}
.btn-pay {
  background-color: #eb9825;
  margin-bottom: 15px;
  display: inline-block;
  border-radius: 0.25rem;
  padding: 8px;
}
.card-product a {
  display: flex;
  justify-content: center;
}
/* pagination */
.home-product__pagination{
    margin: 50px 0 32px;
}
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.pagination-item{
    margin: 0 8px;
}
.pagination-item__link{
    text-decoration: none;
    font-size: 2rem;
    font-weight: 400;
    display: block;
    color: #939393;
    min-width: 40px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 2px;
}

/* .pagination-item-active .pagination-item__link{
    color: black;
} */
.pagination-active{
    color: #000;
}
/* navigation */
.navigation {
}
.nav-list {
  display: flex;
  list-style: none;
}
.nav-item {
  padding: 10px;
  margin-right: 20px;
}
.nav-item a {
  text-decoration: none;
  color: black;
  font-weight: 800;
  font-size: 16px;
}

/* product */
.grid_row {
  display: flex;
  flex-wrap: wrap;
}
.grid_col-2-4 {
  width: 25%;
}

.content {
  padding-top: 20px;
}


/* carousel*/

.carousel {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 15px;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%;
  overflow: hidden;
}

.slide img {
  width: 100%;
  height: auto;
}

#previous-button {
  position: absolute;
  top: 50%;
  left: 30px;
  background-color: rgba(192, 86, 20, 0.488);
  transform: translateY(-50%);
  cursor: pointer;
  border: 1px solid white;
  padding: 10px;
  border-radius: 50%;
}

#next-button {
  position: absolute;
  top: 50%;
  right: 30px;
  background-color: rgba(192, 86, 20, 0.488);
  transform: translateY(-50%);
  cursor: pointer;
  border: 1px solid white;
  padding: 10px;
  border-radius: 50%;
}

#next-button:hover {
  right: 20px;
transition: all 0.5s;
}

#previous-button:hover {
  left: 20px;
  transition: all 0.5s;
}
/* end carousel */

/* product */
.content {
  margin-bottom: 100px;
}

.home-product-item .product_container {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.product_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-percent {
  margin-left: 10px;
}

.product_detail {
  margin-right: 10px;
}

.product_image {
  max-width: 100%; /* Ensure the image doesn't exceed its container width */
  height: auto; /* Maintain the aspect ratio */
  display: block; /* Remove extra space below inline images */
  margin: 0 auto; /* Center the image horizontally */
}

.add_cart {
  position: absolute;
  bottom: 25%; /* Adjust the button's initial position */
  left: 25%;

  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.add_cart button {
  background-color: #338ec9;
  padding: 10px;
  border-radius: 4px;
}
.home-product-item:hover .add_cart {
  opacity: 1;
}
.home-product-item:hover .product_hov {
  filter: blur(2px); /* Adjust the blur radius as needed */
  transition: filter 3s ease-in-out;
}
.home-product-item:not(:hover) .product_image {
  filter: none;
}


.category-crumb{
    border-bottom: 1px solid #fff;
    margin-bottom: 30px;
}
.row-container-category{
    display: flex;
   
}
.category-crumb-container{
    
}
.btn-aply{
    font-size: 12px;
    padding: 10px 70px;
    background-color: #27ae60;
    cursor: pointer;
}
.category-crumb-right{
    display: flex;
    align-items: center;
    width: 20%;
    background-color: #27ae60;
    height: 50px;
    
}
.category-crumb-right span{
    font-size: 20px;
    margin-left: 10px;
   
}
.category-crumb-left{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.category-crumb-left span{
    font-size: 14px;
}
.category-title-name{
    color: #666;
}
.cap  { 
   
    padding: 8px 0;
    font-weight: bold;
    text-transform: uppercase; 
    cursor: pointer; 
    font-size: 12px;
}
.cap {
  padding: 8px 10px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 12px;

}
.ct > label {
  margin: 8px 0 8px 30px;
  font-size: 12px;
  display: block;
  cursor: pointer;
}
.ct input {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.dropbtn {
  font-size: 16px;
  border: none;
  padding: 0 15px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
}

.ct input { width: 16px; height: 16px; margin-right: 10px;}

/* footer */
.footer{
    padding: 1.5rem 9%;
    background-color:rgb(124, 224, 124);
    
    border-top: 4px solid red;
    background-color: var(--white-color);

}
.footer__heading {
    font-size: 20px;
    font-weight: bold;
  
}
.col-md-3{
    width: 25%;
}

.footer-list {
    list-style: none;
    padding: 0;
}

.footer-list li {
    margin-bottom: 5px;
}

.footer-list a {
    color: #000;
    text-decoration: none;
}

.foote-item__icon {
    margin-right: 5px;
}

.footer__bottom {
    background-color: #f5f5f5;
    text-align: center;
    padding: 10px;
}
.foote-item{
    font-size: 16px;
}


/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.detail-product{
    width: 110%;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    display: flex;
    width: 40%;
    height: 45%;
    border-radius: 10px;
}
#close-detail{
    position: relative;
    top: -23px;
    left: 15px;
    cursor: pointer;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
.image-container{
    width: 100%;
    margin-right: 10px;
    
}
.origin{
    font-size: 16px;
    margin-bottom: 10px;
}
.sites{
    color: #707070;
}
.product-price-detail{
    color: #fe0000;
    font-weight: bolder;
    margin-right: 1rem;
    font-size: 16px;
    margin-top: 10px;
}
.des-product{
    font-size: 12px;
    margin-top: 10px
}
.input-group{
    margin-top: 20px;
}
.quantity-title{
    font-size:18px;
    margin-bottom: 4px;
}
/* Các quy tắc CSS khác cho sản phẩm và chi tiết sản phẩm */
.button-quantity {
    padding: 8px 12px;
    margin-top: 10px;
    color: black;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
    color: #f5f5f5;
}

.form-control {
    width: 70px;
    padding: 8px;
    text-align: center;
}

/* pagination */
