*{
    margin: 0;
    padding: 0;
    
}
.text-decoration{
    text-decoration: none;
}
.header_fixed{
    /* background-color: #fd7e14; */
    height: 132px;
    /* position: fixed; */
    top: 0; /* Position the header at the top of the viewport */
    left: 0;
    right: 0;
    z-index: 1000;
}
nav{
   
}
.container{
    max-width: 100%;
    width: 1200px;
    margin: 0 auto;
}
/* header */
/* CSS cho phần header_body */
.header_body {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header_top{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.header_top-left{
    display: flex;
   
    align-items: center;
    
    
}
.header_top-right{
    display: flex;
}
.header_top-right a{
    color: black;
    margin-left: 20px;
}
.header_top-right svg{
    margin-left: 5px;
}
.header_top-container{
    margin-left: 20px;
    background-color: #338ec9;
    padding: 4px 7px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* header right */
.header_top-right{

}
/* CSS cho ô tìm kiếm */
.header_search {
    flex: 1;
    margin-left: 20px; /* Khoảng cách giữa logo và ô tìm kiếm */
}

/* CSS cho ô tìm kiếm input */
.serch_box input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

/* CSS cho biểu tượng tìm kiếm */
.serch_box  {
    display: flex;
    align-items: center;
}

/* CSS cho giỏ hàng */
.header_cart {
    display: flex;
    align-items: center;
}




.icon_search{
    position: relative;
    left: -35px;
}
.cart{
    position: relative;
}
.icon{

}
.quantity_cart{
    position: absolute;
    top: -3px;
    right: -11px;
    background-color: #cb4141;
    color: #fff;
    font-size: 10px;
    padding: 4px 7px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* cart */
  .card-product {
    display: none;
    position: absolute;
    right: 0;
    width: 300px;
    top: 49px;
    background-color: #fff;
    border-radius: 4px;
    z-index: 10;border: 1px solid;
 }
  
  .card-product::after {
    position: absolute;
    content: "";
    width: 15%;
    height: 14px;
    top: -14px;
    right: 0; 
    display: block;
    /* background-color: #cb4141; */
}
.cart-product-body{
    max-height: 400px; 
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.img-product{
   width: 100px;
  
}
.cart-pr{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart:hover .card-product {
    display: block; 
}
.total-price{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}
.btn-pay{
    background-color: #eb9825;
    margin-bottom: 15px;
    display: inline-block;
    border-radius: 0.25rem;
    padding: 8px;
   
}
.card-product a{
    display: flex;
    justify-content: center;
   
    
}

/* navigation */
.navigation{
   
}
.nav-list{
    display: flex;
    list-style: none;
    
}
.nav-item{
    padding: 10px;
    margin-right: 20px;
}
.nav-item a{
     text-decoration: none;
     color: black;
     font-weight: 800;
     font-size: 16px;
}



/* product */
.grid_row{ 
    display: flex;
    flex-wrap: wrap;
    
}
.grid_col-2-4{
    
    width: 25%;
}


.content{
    padding-top: 20px;
}

/* carousel*/


.carousel {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 15px;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: auto;
}

#previous-button {
    position: absolute;
    top: 50%;
    left: 30px;
    background-color: rgba(192, 86, 20, 0.488);
    transform: translateY(-50%);
    cursor: pointer;
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%;
}

#next-button {
    position: absolute;
    top: 50%;
    right: 30px;
    background-color: rgba(192, 86, 20, 0.488);
    transform: translateY(-50%);
    cursor: pointer;
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%;
}

#next-button:hover {
    right: 20px;
    transition: all 0.5s;
}

#previous-button:hover {
    left: 20px;
    transition: all 0.5s;
}
/* end carousel */

/* product */
.content{
    margin-bottom: 100px;
}

.home-product-item .product_container {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    overflow: hidden; /* Hide the button initially */
}

.product_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-percent {
    margin-left: 10px;
}

.product_detail {
    margin-right: 10px;
}

.product_image {
    max-width: 100%; /* Ensure the image doesn't exceed its container width */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Remove extra space below inline images */
    margin: 0 auto; /* Center the image horizontally */
   
}


.add_cart {
    position: absolute;
    bottom: 25%; /* Adjust the button's initial position */
    left: 25%;
   
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; 
}
.add_cart button{
    background-color: #338ec9;
    padding: 10px;
    border-radius: 4px;
}
.home-product-item:hover .add_cart{
    opacity: 1; 
    
}
.home-product-item:hover .product_hov{
    filter: blur(2px); /* Adjust the blur radius as needed */
    transition: filter 3s ease-in-out;
}
.home-product-item:not(:hover) .product_image {
    filter: none;
}